<h2>Login Form</h2>
<form ng-controller="loginCtrl">
  <div class="imgcontainer">
    <img src="images/login-poster.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="user" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="pass" name="psw" required>

    <button ng-click="get()"><a style="text-decoration:none">Login</a></button>
  </div>
</form>