<div>
    <div id='rentSummary'>
        <div class="content">
            <h2>RENT SUMMARY</h2>
            <h4>{{currentRentBookData.bookname}}</h4>
            <p>Status: <b>{{currentRentBookData.status}}</b></p>
            <p>Rent For: <b>{{currentRentBookData.rentfor}}</b></p>
            <span><a ui-sref='book' class="btn btn-danger">Cancel</a></span>
            <span><a class="btn btn-primary" ng-click="setRentBook(currentRentBookData)" ui-sref='book' class="rent-book">Rent</a></span>
        </div>
    </div>
</div>